@import url('https://fonts.googleapis.com/css?family=Raleway:200,400');
    html {
      height: 100%;
    }
    body {

      font-family: raleway;
      position: center;
      margin-right: 30px;
      background-image: url("https://images.unsplash.com/photo-1531436107035-40b2e85b7a1b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80");
    }

    a{
        font-size: 40px;
        font-weight: 600;
        text-decoration: none;
        color: #F7AEF8 !important;
        font-family: raleway;
        transition: color 1s ease-out;
      }
  
      a:hover{
        color: #F7EE7F;
        border-bottom-color: #F7EE7F;
      }
  
      h1 {
        font-size: 40px;
        font-weight: 200;
        color: black;
      }

      h2 {
        font-size: 30px;
        font-weight: 200;
        color: black;
        margin-bottom: 15px;
        margin-top: 15px;
      }

      #title {
        font-size: 40px;
        font-weight: 200;
        color: black;
      }

      button {
        width: 140px;
        height: 45px;
        font-family: raleway;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        margin-top:1em;
        margin-bottom: 2rem;
      }
  
    button:hover {
      background-color: #F7AEF8;
      box-shadow: 0px 15px 20px #b388eb;
      color: black;
      transform: translateY(-7px);
    }

    input{
        display: block;
        margin-top: 0.5em;
        margin-bottom: 1em;
        padding: 0.5em 0.25em;
        border: none;
        border-radius: 0.2em;
        font-size: 1em;
        text-align: center;
        font-family: raleway;
        box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.2);
      }



    
    .container {
      margin-left: 2rem
    }

    #info-box {
      position: absolute;
      bottom: 3em;
      right: 2em;
  }
  
  
  #info-box ul {
      list-style: none;
  }
  #info-box a {
      color: white;
      text-decoration: none;
      text-align: right;
      padding: 0.5em 0;
      transition: all 0.1s ease-out;
      display: block;
      text-transform: uppercase;
      font-size: 1.25em;
      font-weight: 900;
      letter-spacing: 1px;
  }
  #info-box a:hover {
      color: rgba(255,255,255,0.5);
  }


.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  box-sizing: border-box;
  padding: 2em;
  border-radius: 25px;
  line-height: 25px;
  box-shadow: 5px 5px 10px #26547c;
  float: left;
  margin-right: 1em;
  background-color: #4ADBC8;
  opacity: 70%;
  height: 660px !important;
}



.card.tx {
  background: #26547C;
}

#status {
  overflow-wrap: break-word;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  width: 10%;
  padding-left: 40px;
}

.column2 {
  width: 23%;
}

.column3 {
  width: 18%;
}

.column4 {
  width: 19%;
}

.column5 {
  width: 13%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 600px;
  overflow: auto;
}



/*==================================================================
[ Ver3 ]*/

.table100.ver3 {
  background-color: #393939;
  opacity: 85%;
}

.table100.ver3 th {
  font-size: 15px;
  color: #4ADBC8;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #393939;
  font-weight: 600;
}

.table100.ver3 td {
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
  background-color: #222222;
}


/*---------------------------------------------*/

.table100.ver3 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver3 .ps__rail-y {
  right: 5px;
}

.table100.ver3 .ps__rail-y::before {
  background-color: #4e4e4e;
}

.table100.ver3 .ps__rail-y .ps__thumb-y::before {
  background-color: #00ad5f;
}




* {padding: 0; margin: 0;}
.flex-container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.logo {
  margin: 0 0 0 .45em;
}
    .logo a {
      color: rgb(28, 24, 22);
    }

    .logo, .navigation {
        list-style: none;
    }

    .logo a, .navigation a {
        text-decoration: none;
        letter-spacing: .45rem;
    }

.navigation  {
  display: flex;
  
}

.navigation li {
  display: block;
  padding: 1em;
}


/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }
  
  .logo {
  margin: 0;
}
  
  .navigation  {
    width: 100%;
    justify-content: space-around;
  }
}


/* ****** ****** */
@media all and (max-width: 600px) {
 
  .logo {
    margin: .25em 0;
    align-self: left; /* align the logo to the left side of 'flex-container' */
}
  
  .navigation {
    flex-direction: column;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.btn-table {
  margin: 0;
  margin-left: 5px;
  border-radius: 10px;
  background-color: #F7AEF8;
}

.btn-table-cancel {
  margin: 0;
  margin-left: 5px;
  border-radius: 10px;
  background-color: #F87666;
}

.btn-table-cancel:hover  {
      box-shadow: 0px 15px 20px #BB342F;
      background-color: #F87666;
      transform: translateY(-7px);
}